@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype');
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    background-image: url('img/0_background_body/desert.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

canvas {
    background-color: black;
    display: block;
}

h1 {
    font-size: 48px;
    letter-spacing: 3px;
}

@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }
    
    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480) {
    canvas {
        height: 100vh;
    }

}